*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body{
 font-family: Philosopher, sans-serif;
 
}

element.style{
  width: 100%;
}

/* Main column */
.main {
  flex: 60%;
  background-color: white;
  padding: 10px;
}
.box {
  background-color: #8b4b4b;
  border: 10px;
  border-color: black;
  width: 100%;
  padding: 20px;
}
.input{
  text-align: center;
  margin: 100px 0;
}
/*placeholder styling*/
input[type="text"]{
  height: 60px;
  width: 600px;
  background: aliceblue;
  font-family: "Philosopher", sans-serif;
  font-weight: bold;
  font-size: 30px;
  border: none;
  border-radius: 5px;
}
/*search button styling*/
input[type="button"]{
  flex-direction: column;
  height: 60px;
  width: 100px;
  background: aliceblue;
  font-family: "Philosopher", sans-serif;
  font-weight: bold;
  font-size: 30px;
  border: none;
  border-radius: 5px;
}

/* other display location boxes*/
.display{
  text-align: left;
}

* {
  box-sizing: border-box;
}
.flex-container {
  display: flex;
  height: 600px;
  width: 1000px;
  flex-wrap: nowrap;
  align-content: center;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  
}
.flex-container > div {
  background-color: blue;
  margin: 10px;
  padding: 0;
  width: 200px;
  height: 200px;
  line-height: 75px;
  font-size: 20px;
  font-family: "Philosopher";
  color: white;
}